# Arquivos de metadados do Dart e Flutter.
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/

# Arquivos gerados pelo processo de build.
build/

# Arquivos de lock de dependências.
# O pubspec.lock DEVE ser versionado para garantir builds consistentes.

# Arquivos de configuração do Firebase gerados localmente.
# O firebase.json gerado pela CLI do FlutterFire DEVE ser versionado.
# O google-services.json geralmente é versionado em projetos solo para facilitar a clonagem,
# mas em projetos de equipe/open-source, deve ser adicionado aqui.

# Arquivos sensíveis que NUNCA devem ser versionados.
*.env
/android/key.properties
/android/local.properties

# Arquivos de log.
*.log
logs/

# Arquivos específicos de editores de código e IDEs.
# VS Code
.vscode/

# Android Studio e IntelliJ
.idea/
*.iml
*.ipr
*.iws
.metadata
*_android.iml

# Arquivos gerados por plataformas específicas que não devem ser versionados.
/android/.gradle/
/android/app/build/
/android/build/

/ios/Pods/
/ios/build/
/ios/.symlinks/
/ios/Flutter/App.framework
/ios/Flutter/engine.xcconfig
/ios/Flutter/pod_runner.xcconfig
/ios/Flutter/Flutter.podspec
/ios/Runner/GeneratedPluginRegistrant.*

/macos/build/
/macos/Flutter/ephemeral/
/macos/Pods/
/macos/.symlinks/

/linux/build/

/windows/build/